*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #131212;
font-family: 'Roboto', sans-serif;
}

:root{
    --background: #252525;
    --background-nav:#ffa400;
    --text-color:#ffffff;
    --background-gradient:linear-gradient(86deg,#ffa100,#fb103d);
    --number-color:#fc2933;
}
/* COMIENZO DEL HEADER */
.container-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
}
.container-header:nth-child(2){
    border: solid 2px salmon;
}

.navbar {
    display: flex;
    gap: 80px;
    align-items: center;
    margin-right: 5em;
}
.navbar img{
    height: 2em;
    cursor: pointer;
}

.home-icon-container{
    display: flex;
    gap: 20px;
}
.home-icon-container p {
    position: relative;
    top: 8px;
    font-size: medium;
    color: var(--text-color);
}

.bubble-alert{
    background: var(--number-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    font-size: small;
    border-radius: 100%;
    padding:4px;
    position: relative;
    bottom: 30px;
    right: 15px;
}

.icon-pizzeria{
    margin-left:3em ;
    height: auto;
    cursor: pointer;
}
/* FIN DEL HEADER */


/* COMIENZO DEL MAIN */
.container-main{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    gap: 20px;
}
.hero-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.hero-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: var(--text-color);
    justify-content: center;
    gap: 40px;
}
.hero-info h2{
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: bold;
}
.hero-info p{
    font-size: x-large;
    color: rgba(255, 255, 255, 0.796) ;
}
.poster-container{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.poster-container img:nth-child(2){
    width: 100%;
    max-width:250px;
    height: 18em;
    position: relative;
    z-index: 2;
    left: 18px;
    top: 10px;

}

.poster-container img:nth-child(1){
    height: auto;
    height: 320px;
    position: relative;
    bottom: 15px;
    right: 25px;
}

.button-hero{
    width: 9.4em;
    padding: 0.7em;
    border-radius: 15px;
    color: var(--text-color);
    background: var(--background-gradient);
    border: none;
    cursor: pointer;
    font-size: 20px;

}

.container-recommendation{
    width: 95%;
    margin: 0 auto;
    height: 20em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.position:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;
    height: 40%;
    position: relative;
    top: 50px;
    font-size: xx-large;
    color:var(--text-color);
}

.position:nth-child(2){
    height: 70%;
    width: 100%;    
}
.position:nth-child(3){
    height: 70%;
    width: 100%;    
}
.position:nth-child(4){
    height: 70%;
    width: 100%;    
}

.recommendation{
    display: flex;
    width: 100%;
    background: var(--background);
    border-radius: 20px;
    align-items: center;
    gap: 10px;
    padding: 1em;
}

.recommendation img {
    width: 5em;
    height: 5em;
    border-radius: 20px;
}
.info-recommendation{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
    background: inherit;

}
.info-recommendation h4{
    font-size: x-large;
    font-weight: 400;
    background: inherit;
    color: var(--text-color);

}
.info-recommendation p:nth-child(2){
    background: inherit;
    font-size: large;
    color: rgba(255, 255, 255, 0.292);
    letter-spacing: 2px;
}

.info-recommendation p:nth-child(3){
    font-size: 30px;
    background: -webkit-linear-gradient(256deg,#ffa100,#fc2933);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.button-recommendation{
    width: 8em;
    padding: 0.8em;
    border-radius: 20px;
    color: var(--text-color);
    background: var(--background-gradient);
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.categories {
    height: 20em;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: 95%;
    margin: 0 auto;
    gap: 20px;
}
.position-2:nth-child(1){
 grid-column-start: 1;
 grid-column-end: 8;
 height: 40%;
 position: relative;
 top: 40px;
 font-size: 20px;
 font-weight: bold;
 color:var(--text-color);
}
.position-2:nth-child(2){
 background: var(--background);
 width: 90%;
 border-radius: 20px;
 height: 90%;
 padding: 1em;
}
.position-2:nth-child(3){
 background: var(--background);
 width: 90%;
 border-radius: 20px;
 height: 90%;
 padding: 1em;

}
.position-2:nth-child(4){
 background: var(--background);
 width: 90%;
 border-radius: 20px;
 height: 90%;
 padding: 1em;

}
.position-2:nth-child(5){
 background: var(--background);
 width: 90%;
 border-radius: 20px;
 height: 90%;
 padding: 1em;

}
.position-2:nth-child(6){
 background: var(--background);
 border-radius: 20px;
 width: 90%;
 height: 90%;
 padding: 1em;

}
.position-2:nth-child(7){
 background: var(--background);
 width: 90%;
 border-radius: 20px;
 height: 90%;
 padding: 1em;

}
.position-2:nth-child(8){
 background: var(--background);
 width: 90%;
 height: 90%;
 border-radius: 20px;
 padding: 1em;

}

.categories-container{
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: var(--text-color);
    font-weight: 400;
    font-size: large;
}

.categories-container * {
    background: inherit;
}
.categories-container img {
    width: 6em;
    height: 5.5em;
}

.bordeado {
    width: 40%;
    height: 5px;
    border-radius: 30px;
    background: var(--background-gradient);
}