@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --background: #131212 ;
    --background-targets: #252525;
    --background-nav:#ffa400;
    --text-color:#ffffff;
    --background-gradient:linear-gradient(86deg,#ffa200,#fb103d);
    --number-color:#fc2933;
}
/* COMIENZO DEL HEADER */
.container-header{
    background: var(--background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
}

.navbar-list {
    height: 4em;
    display: flex;
    gap: 80px;
    align-items: center;
    margin-right: 5em;

}
.navbar img{
    height: 2em;
    cursor: pointer;
}

.home-icon-container{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;

}

.home-icon-container p {
    position: relative;
    top: 8px;
    font-size: medium;
    color: var(--text-color);
}

.bubble-alert{
    background: var(--number-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    font-size: small;
    border-radius: 100%;
    padding:4px;
    position: relative;
    bottom: 30px;
    right: 15px;
}

.icon-pizzeria{
    margin-left:3em ;
    height: auto;
    cursor: pointer;
}
/* FIN DEL HEADER */


/* COMIENZO DEL MAIN */
.container-main{
    background: var(--background);
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    gap:120px;
}
.hero-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.hero-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: var(--text-color);
    justify-content: center;
    gap: 40px;
}
.hero-info h2{
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: bold;
}
.hero-info p{
    font-size: x-large;
    color: rgba(255, 255, 255, 0.796) ;
}
.poster-container{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.poster-container img:nth-child(2){
    width: 100%;
    max-width:250px;
    height: 18em;
    position: relative;
    z-index: 2;
    left: 18px;
    top: 10px;

}

.poster-container img:nth-child(1){
    height: auto;
    height: 320px;
    position: relative;
    bottom: 15px;
    right: 25px;
}

.button-hero{
    width: 9.4em;
    padding: 0.7em;
    border-radius: 15px;
    color: var(--text-color);
    background: var(--background-gradient);
    border: none;
    cursor: pointer;
    font-size: 20px;

}

.container-recommendation{
    width: 95%;
    margin: 0 auto;
    height: 20em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.position:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;
    height: 40%;
    position: relative;
    top: 50px;
    font-size: xx-large;
    color:var(--text-color);
}

.position:nth-child(2){
    height: 70%;
    width: 100%;    
}
.position:nth-child(3){
    height: 70%;
    width: 100%;    
}
.position:nth-child(4){
    height: 70%;
    width: 100%;    
}

.recommendation{
    display: flex;
    width: 100%;
    background: var(--background-targets);
    border-radius: 20px;
    align-items: center;
    gap: 10px;
    padding: 1em;
}

.recommendation img {
    width: 5em;
    height: 5em;
    border-radius: 20px;
}
.info-recommendation{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
    background: inherit;

}
.info-recommendation h4{
    font-size: x-large;
    font-weight: 400;
    background: inherit;
    color: var(--text-color);

}
.info-recommendation p:nth-child(2){
    background: inherit;
    font-size: large;
    color: rgba(255, 255, 255, 0.292);
    letter-spacing: 2px;
}

.info-recommendation p:nth-child(3){
    font-size: 30px;
    background: -webkit-linear-gradient(256deg,#ffa100,#fc2933);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.button-recommendation{
    width: 8em;
    padding: 0.8em;
    border-radius: 20px;
    color: var(--text-color);
    background: var(--background-gradient);
    border: none;
    cursor: pointer;
}
.categories{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 30px;
}
.position-2:nth-child(1){
    grid-column: 1/8;
    height:30px;
    color: var(--text-color);
    font-size: larger;
    letter-spacing: 2px;
    font-weight: 400;
}



.categories-container {
    background-color: var(--background-targets);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    padding: 1em;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
}
.categories-container img {
    background: inherit;
    max-width: 70%;
}
.categories-container p {
    background: inherit;
}
.categories-container span {
    background: var(--background-gradient);
    height: 4px;
    border-radius:10px;
    width: 40%;
}

.popular {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.popular h3 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    right: 550px;
}

.targets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr ;
    grid-column-gap: 40px ;
    grid-row-gap: 40px;
}

.target {
    background: var(--background-targets);
    padding: 16px 22px;
    height: 213px;
    width: 282px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.info-target {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    gap: 5px;
    background: var(--background-targets);
    
}

.info-target h4 {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    background: var(--background-targets);

}

.info-target p {
    color: #595353;
    background: var(--background-targets);

}

.price-target {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-targets);
}

.price-target span {
    font-size: 19px;
    font-weight: 700;
    background: linear-gradient(86deg,#ffa100,#fb103d); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price-target button {
    border-radius: 17px;
    width: 100px;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    background: linear-gradient(86deg,#ffa100,#fb103d)  
}

/* COMIENZO DEL FOOTER */

.footer {
    background-color: var(--background);
    padding:  80px 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.a-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.a-footer a {
    color: #ffffff;
    font-weight: 100;
    font-size: 17px;
    text-decoration: none;
}

.despedida p {
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    font-size: 17px;
}

.despedida p span {
    font-weight: 900;
}